<!DOCTYPE html>
{{>header}}
    <div class="container">
        <h4>
            Ver cursos como administrador
        </h4>
        {{{guardarCurso id nombre modalidad valor descripcion intensidad}}}
    </div>

    <div class="container">
        <h4>
            Ver cursos como interesado
        </h4>
    </div>
{{>footer}}